<ion-content>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10" style="margin-left: 0;padding-left: 0">
                <p class="text-left">Please hold your CAC sideways and point the camera at the front of it</p>
            </div>
            <div class="col-2 d-flex justify-content-right">
                <ion-button style="right: 0;position: absolute;" (click)="goBack()">Go Back</ion-button>
            </div>
        </div>
        <div class="row mt-2">
            <ion-item *ngIf="!noCamera && !isIE" style="width: 100%">
                <ion-label>Change Camera</ion-label>
                <ion-select [(ngModel)]="selectedDevice" (ionChange)="selectDevice($event)">
                    <ion-select-option *ngFor="let device of this.devices" [value]="device">{{device.label}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
        <div>
            <zxing-scanner *ngIf="!noCamera"
                           [formats]="['PDF_417']"
                           [enable]="!noScan"
                           [(device)]="desiredDevice"
                           (camerasNotFound)="camerasNotFoundHandler($event)"
                           (camerasFound)="camerasFound($event)"
                           (scanSuccess)="scanSuccessHandler($event)"
                           (scanError)="scanErrorHandler($event)"
                           (scanFailure)="scanFailureHandler($event)"
                           (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
        </div>
        <h2 *ngIf="noCamera">No camera could be found.  Please ensure the application has been granted access to your camera and refresh.</h2>
        <h2 *ngIf="isIE">Scanning is not supported in IE.  Please use Chrome, Edge, Firefox or Safari.</h2>
    </div>
</ion-content>